*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
body{
    width: 100vw;
    height: 100vh;
    background-image:url("img/bg.jpg") ;
    justify-content: space-around;
    background-size: cover;
    display: grid;
    place-items: centre;
    border: 5px solid black;
    border-radius: 10px;
}
form{
    background-color: salmon;
    padding: 5vw;
    width: 50vw;
    height: 65vh;
    margin: 10vw auto;
    text-align: center;
    border: 5px solid black;
    border-radius: 25px;
}
#tempCalc label{
    font-size: 32px;
}
#temp{
    border: none;
    padding: 10px;
    height: 40px;
    width: 13vw;
    font-size: 24px;
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 11px;
}
#temp_diff{
    height: 40px;
    width: 13vw;
    border: none;
    margin-top: 20px;
    font-size: 16px;
    vertical-align: top;
    border: 2px solid black;
    border-radius: 11px;
}
[type="submit"] {
    height: 35px;
    margin: 20px;
    width: 13vw;
    font-size: 16px;
    border: none;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
}
[type="submit"]:hover{
    transform: scale(1.25);
    transition-duration: 250ms;
}
#resultContainer{
    font-size: 35px;
}